* {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kcpfbk');
  src:  url('fonts/icomoon.eot?kcpfbk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kcpfbk') format('truetype'),
    url('fonts/icomoon.woff?kcpfbk') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

:link {
    text-decoration: none;
    color: unset;
}

:visited {
    color: unset;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#pbi-report {
    width: 1280px;
    height: 720px;
    background-color: lightgray;
}

footer {
    display: flex;
    font-family: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: .9rem;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 64px;

}

footer a {
    text-decoration: none;
}

.link {
    font-style: italic;
}

.icon {
    font-size: 1.8rem;
    font-style: normal;
    font-family: icomoon;
    margin-left: 20px;
    position: relative;
}

.icon-github::before {
    content: "\f09b";
    color: black;
}

.icon-linkedin::before {
    color: #2867B2;
    content: "\f08c";
}

.icon-facebook::before {
    color: #2867B2;
    content: "\f082";
}

.icon-twitter::before {
    color: #2867B2;
    content: "\f099";
}

.icon-heart {
    margin-left: 0;
    display: inline-block;
    color: red;
    content: "\f004";
    font-size: 1.25rem;
    cursor: none;
}

.icon-heart:hover {
    transform-origin: center;
    animation: pulse .5s ease-in alternate infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.5);
    }
}

.animate-text:hover, .animate-text:hover::before, .animate-button:hover, .animate-button:hover::before {
    position: relative;
    --offset: -1px;
    top: var(--offset);
}

.animate-text:hover, .animate-text:hover::before {
    text-shadow: 2px 3px 3px rgba(127, 127, 127, 0.45);
}

.animate-button:hover, .animate-button:hover::before {
    box-shadow: 2px 3px 3px rgba(127, 127, 127, 0.45);
    top: calc(var(--offset) * 2);
}

.fa-font {
    font-family: icomoon;
    font-size: .9em;
}

.wordmark {
    line-height: var(--icon-height);
    font-size: .45em;
}

#share-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto var(--icon-height);
    align-items: center;
    justify-items: center;
    height: auto;
    margin-top: 6px;
    padding: 0;
    width: 360px;
    --button-height: 32px;
    position: relative;
}

#share-header{
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 2px;
    grid-column: 1 / span 3;
}

.icon-center {
    vertical-align: middle;
    line-height: var(--button-height);
}

.share-button {
    width: calc(var(--button-height) / .375);
    height: var(--button-height);
    color: white;
    text-align: center;
    font-size: 24px;
}

.linkedin {
    background-color: #2867B2
}

.facebook {
    background-color: rgb(53, 114, 189)
}

.twitter {
    background-color: rgb(29, 161, 242)
}

.instagram {
    background-color: rgb(193, 53, 132)
}
