@page
@inject Microsoft.Extensions.Configuration.IConfiguration config;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Analisi dei dati sull'epidemia di COVID-19 in Italia" />
    <meta name="keywords" content="Italia, COVID-19, COVID19, coronavirus SARS-COV-2, epidemia, salute, pandemia">
    <!--Opengraph tags-->
    <meta property="og:title" content="COVID-19 Report - Italia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://covid19-ita.leonidev.com" />
    <meta property="og:image" content="https://media.leonidev.com/covid19/covid-19-report-ita-cover.png" />
    <meta property="og:description " content="Analisi dei dati sull'epidemia di COVID-19 in Italia" />
    <meta property="og:locale " content="it_IT" />
    <!---->
    <!--twitter meta tag-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://media.leonidev.com/covid19/covid-19-report-ita-cover.png" />
    <!---->

    <link rel="stylesheet" href="_content/Covid19Report.Ita.Views/style.css">
    <link rel="canonical" href="htts://covid19-ita.leonidev.com">
    <title>COVID-19 Report ITA</title>
    <environment include="Production">
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="_content/Covid19Report.Ita.Views/js/resizer.js" type="module" async></script>
    <script src="_content/Covid19Report.Ita.Views/js/script.js" type="module" async></script>
</head>
<body>
    <main>
        <environment exclude="Production">
            <div id="pbi-report"></div>
        </environment>
        <environment include="Production">
            <iframe id="pbi-report" src="@config.GetSection("pbiReportUrl").Value" frameborder="0" allowFullScreen="true"></iframe>
        </environment>
        <p>se hai difficoltà a visualizzare il report clicca <a href="@config.GetSection("pbiReportUrl").Value">qui</a></p>
    </main>
    <footer>
        <div><span class="hello">Saluti da Gioia Sannitica con</span> <div class="icon icon-heart">&#xf004</div></div>
        <div id="share-box">
            <p id="share-header">condividi su:</p>
            <div id="linkedin" class="share-button animate-button linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fcovid19-ita.leonidev.com" target="_blank"><span class="fa-font icon-center">&#xf08c</span><span class="wordmark icon-center">&nbsp;Linkedin</span></a></div>
            <div id="twitter" class="share-button animate-button twitter"><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcovid19-ita.leonidev.com&hashtags=coronavirus,covid19" target="_blank"><span class="fa-font icon-center">&#xf099</span><span class="wordmark icon-center">&nbsp;Twitter</span></a></div>
            <div id="facebook" class="share-button animate-button facebook"><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fcovid19-ita.leonidev.com" target="”_blank”"><span class="fa-font icon-center">&#xf082</span><span class="wordmark icon-center">&nbsp;facebook</span></a></div>
        </div>
        <div id="follow-box">
            <span class="link">
                by leoniDEV <a href="https://www.linkedin.com/in/antonio-landolfi" target=”_blank”><span class="icon animate-text icon-linkedin"><span class="icon-hover"></span></span></a>
                <a href="https://github.com/leoniDEV/covid-19-report-ita" target=”_blank”><span class="icon animate-text icon-github"></span></a>
            </span>
        </div>
    </footer>
</body>
</html>