@page
@inject Microsoft.Extensions.Configuration.IConfiguration config;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Analisi dei dati sull'epidemia di COVID-19 in Italia" />
    <meta name="keywords" content="Italia, COVID-19, COVID19, coronavirus SARS-COV-2, epidemia, salute, pandemia">
    <!--Opengraph tags-->
    <meta property="og:title" content="COVID-19 Report - Italia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://covid19-ita.leonidev.com" />
    <meta property="og:image" content="https://media.leonidev.com/covid19/covid-19-report-ita-cover.png" />
    <meta property="og:description " content="Analisi dei dati sull'epidemia di COVID-19 in Italia" />
    <meta property="og:locale " content="it_IT" />
    <!---->
    <!--twitter meta tag-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://media.leonidev.com/covid19/covid-19-report-ita-cover.png" />
    <!---->

    <link rel="stylesheet" href="_content/Covid19Report.Ita.Views/style.css">
    <link rel="canonical" href="htts://covid19-ita.leonidev.com">
    <title>COVID-19 Report ITA</title>
    <environment include="Production">
        <script type="text/javascript">
            var sdkInstance="appInsightsSDK";window[sdkInstance]="appInsights";var aiName=window[sdkInstance],aisdk=window[aiName]||function(n){var o={config:n,initialize:!0},t=document,e=window,i="script";setTimeout(function(){var e=t.createElement(i);e.src=n.url||"https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js",t.getElementsByTagName(i)[0].parentNode.appendChild(e)});try{o.cookie=t.cookie}catch(e){}function a(n){o[n]=function(){var e=arguments;o.queue.push(function(){o[n].apply(o,e)})}}o.queue=[],o.version=2;for(var s=["Event","PageView","Exception","Trace","DependencyData","Metric","PageViewPerformance"];s.length;)a("track"+s.pop());var r="Track",c=r+"Page";a("start"+c),a("stop"+c);var u=r+"Event";if(a("start"+u),a("stop"+u),a("addTelemetryInitializer"),a("setAuthenticatedUserContext"),a("clearAuthenticatedUserContext"),a("flush"),o.SeverityLevel={Verbose:0,Information:1,Warning:2,Error:3,Critical:4},!(!0===n.disableExceptionTracking||n.extensionConfig&&n.extensionConfig.ApplicationInsightsAnalytics&&!0===n.extensionConfig.ApplicationInsightsAnalytics.disableExceptionTracking)){a("_"+(s="onerror"));var p=e[s];e[s]=function(e,n,t,i,a){var r=p&&p(e,n,t,i,a);return!0!==r&&o["_"+s]({message:e,url:n,lineNumber:t,columnNumber:i,error:a}),r},n.autoExceptionInstrumented=!0}return o}(
                {
                    instrumentationKey:"e319b023-6eeb-476a-bf19-108f126a306b"
                }
            );(window[aiName]=aisdk).queue&&0===aisdk.queue.length&&aisdk.trackPageView({});
        </script>
    </environment>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="_content/Covid19Report.Ita.Views/js/resizer.js" type="module" async></script>
    <script src="_content/Covid19Report.Ita.Views/js/script.js" type="module" async></script>
</head>
<body>
    <main>
        <environment exclude="Production">
            <div id="pbi-report"></div>
        </environment>
        <environment include="Production">
            <iframe id="pbi-report" src="@config.GetSection("pbiReportUrl").Value" frameborder="0" allowFullScreen="true"></iframe>
        </environment>
        <p>se hai difficoltà a visualizzare il report clicca <a href="@config.GetSection("pbiReportUrl").Value">qui</a></p>
    </main>
    <footer>
        <div><span class="hello">Saluti da Gioia Sannitica con</span> <div class="icon icon-heart">&#xf004</div></div>
        <div id="share-box">
            <p id="share-header">condividi su:</p>
            <div id="linkedin" class="share-button animate-button linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fcovid19-ita.leonidev.com" target="_blank"><span class="fa-font icon-center">&#xf08c</span><span class="wordmark icon-center">&nbsp;Linkedin</span></a></div>
            <div id="twitter" class="share-button animate-button twitter"><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcovid19-ita.leonidev.com&hashtags=coronavirus,covid19" target="_blank"><span class="fa-font icon-center">&#xf099</span><span class="wordmark icon-center">&nbsp;Twitter</span></a></div>
            <div id="facebook" class="share-button animate-button facebook"><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fcovid19-ita.leonidev.com" target="”_blank”"><span class="fa-font icon-center">&#xf082</span><span class="wordmark icon-center">&nbsp;facebook</span></a></div>
        </div>
        <div id="follow-box">
            <span class="link">
                by leoniDEV <a href="https://www.linkedin.com/in/antonio-landolfi" target=”_blank”><span class="icon animate-text icon-linkedin"><span class="icon-hover"></span></span></a>
                <a href="https://github.com/leoniDEV/covid-19-report-ita" target=”_blank”><span class="icon animate-text icon-github"></span></a>
            </span>
        </div>
    </footer>
</body>
</html>